.dyn-height {
    min-height: 300px;
    max-height: 300px;
    overflow-y:scroll;
}

.table-style{
    text-align: center;
}

.chart-height {
    min-height: 300px;
    max-height: 300px;
}

.header-height{
    min-height: 63px;
    max-height: 63px;
}

.pie-height{
    overflow: hidden;
    max-height: 260px;
}

.container {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    align-content: space-around;
    row-gap: 100px;
}

.item1 {
    order: 1;
    flex-grow: 2; 
}

.item2 {
    order: 2;
    flex-grow: 1; 
}



.background{
    background-color: #232323;
}

.card-body-style{
    background-color: #232323;
    color: white;
}

.long-dyn-height{
    max-height: 350px;
    overflow-y:scroll;
}

.dyn-height-full{
    max-height: 400px;
    overflow-y:scroll;
}

.card-header-style{
    background-color: yellow;
}

.pop-over{
    background-color: #383838;
    color: white;
}

