.dyn-height {
    max-height:300px;
    overflow-y:scroll;
}

.table-style{
    text-align: center;
}

.background{
    background-color: #232323;
}

.card-body-style{
    background-color: #232323;
    color: white;
}

.card-header-style{
    background-color: yellow;
}

.pop-over{
    background-color: #383838;
    color: white;
}